.App {


}

.projects {
  margin: 10px;
  color: black;
}

.home {
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
}


.work {
  position: absolute;
  top: 33%;
  left: 60%;
  text-decoration: underline;
 

} 

.workitem {

}

.return {
  left: 50px;
  text-decoration: none;
  display: flex;
  margin-top: 50px;
}


.box {
  height: 600px;
  width: 500px;
  background-color: red;
  position: absolute;
  top: 35%;
  border-radius: 10px;
}

.Profile {
  border-bottom-left-radius: 45px;
}

.About {
  display: flex;
  border-radius: 35px;
}

.About p {

}

.aboutText {
margin: 200px;
}

.weather {
position: absolute;
bottom: 0;
}


